.git
.gitignore
.vscode
.idea

__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/

.venv/
venv/
env/

db.sqlite3
*.sqlite3

.env
.env.*

Dockerfile*
docker-compose*.yml

README.md
*.md
